# Kredensial & environment
.env

# Dependencies
/vendor/

# Sampah OS
.DS_Store
.vscode/
.idea/

# Log
*.log

# ignore avatar user files but keep the directory tracked by git
assets/img/avatars/*
!assets/img/avatars/.gitkeep